package ${package}.web.controller.${module};

import ${package}.entity.${module}.${className};
import ${package}.service.${module}.${className}Service;
import ${package}.common.annotation.SysLog;
import ${package}.common.constants.ResultCode;
import ${package}.common.utils.CglibBeanCopierUtils;
import ${package}.common.annotation.SysLog;
import ${package}.common.annotation.validator.AddGroup;
import ${package}.common.annotation.validator.InputGroup;
import ${package}.common.annotation.validator.UpdateGroup;
import ${package}.common.utils.validator.ValidatorUtils;
import ${package}.dto.BasePageResponse;
import ${package}.dto.BaseResponse;
import ${package}.dto.PageInfoResponse;
import ${package}.dto.${module}.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;


/**
 * ${comments}
 * 
 * @author  ${author}
 * @date  ${datetime}
 * @tag ${comments}模块
 * @alias ${comments}功能
 */
@RestController
@RequestMapping("/${pathName}")
public class ${className}Controller {


	@Autowired
	private ${className}Service ${classname}Service;


    /**
     * ${comments}分页列表
     */
    @GetMapping(value="/page" )
    public BasePageResponse list( ${className}PageRequest pageRequest){
        ValidatorUtils.validateEntity(pageRequest, InputGroup.class);
        PageInfoResponse pageResponse= ${classname}Service.queryList(pageRequest);
        BasePageResponse basePageResponse = new BasePageResponse();
        basePageResponse.setPage(pageResponse);
        basePageResponse.setResultCode(ResultCode.SUCCESS);
        return basePageResponse;
    }


    /**
     * 查看${comments}详情
     */
    @GetMapping(value="/info" )
    public ${className}InfoResponse info( ${className}InfoRequest infoRequest){
        ValidatorUtils.validateEntity(infoRequest, InputGroup.class);
        ${className}  ${classname} = ${classname}Service.selectById(infoRequest.get${pk.attrName}());
        ${className}InfoResponse info = new ${className}InfoResponse();
        CglibBeanCopierUtils.copyProperties( ${classname},info);
        info.setResultCode(ResultCode.SUCCESS);
        return info;
    }


    /**
     * 保存${comments}
     */
    @SysLog("保存${comments}")
    @PostMapping
    public BaseResponse save(@RequestBody ${className}SaveRequest saveRequest){
        ValidatorUtils.validateEntity(saveRequest, AddGroup.class);
        ${className} ${classname} = new ${className}();
        CglibBeanCopierUtils.copyProperties(saveRequest,${classname});
        ${classname}Service.insertSelective(${classname});
        BaseResponse response = new BaseResponse();
        response.setResultCode(ResultCode.SUCCESS);
        return response;
    }


    /**
     * 更新${comments}
     */
    @SysLog("更新${comments}")
    @PatchMapping
    public BaseResponse update(@RequestBody ${className}UpdateRequest updateRequest){
        ValidatorUtils.validateEntity(updateRequest, UpdateGroup.class);
        ${className} ${classname} = new ${className}();
        CglibBeanCopierUtils.copyProperties(updateRequest,${classname});
        ${classname}Service.updateByIdSelective(${classname});
        BaseResponse response = new BaseResponse();
        response.setResultCode(ResultCode.SUCCESS);
        return response;
    }


}
