package ${package}.dao;

import java.util.List;
import java.util.Map;
import ${package}.base.IBaseMapper;
import ${package}.entity.${className};
import org.apache.ibatis.annotations.Param;


/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Dao extends IBaseMapper<${className}> {

    List<${className}> queryList(Map<String, Object> map);

    void deleteBatch(@Param("${pk.attrname}s") ${pk.attrType} [] ${pk.attrname}s);

    int queryTotal(Map<String, Object> map) ;

}
