<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.${className}Dao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.entity.${className}" id="${classname}Map">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}"/>
#end
    </resultMap>


    <sql id="whereField">
        <if test="key != null and key.trim() != ''">
        </if>
    </sql>

    <sql id="idFor">
        <foreach item="${pk.attrname}" collection="${pk.attrname}s" open="(" separator="," close=")">
            #{${pk.attrname}}
        </foreach>
    </sql>



    <select id="queryTotal" resultType="int">
        select count(*) from ${tableName}
        <include refid="whereField"/>
    </select>

    <select id="queryList" resultMap="${classname}Map">
        SELECT * FROM ${tableName}
        <include refid="whereField"/>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by ${pk.columnName} desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>


	<delete id="deleteBatch">
		delete from ${tableName} where ${pk.columnName} in
        <include refid="idFor"/>
	</delete>

</mapper>