package ${package}.entity;

import java.io.Serializable;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("${tableName}")
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.comments.length() > 0 )
/**
* ${column.comments}
*/
#end
#if($pk && $pk.attrname == $column.attrname)
@TableId(value = "${column.columnName}" )
#else
@TableField("${column.columnName}")
#end
private $column.attrType $column.attrname;

#end

public static class Field {
	#foreach ($column in $columns)
	public static final String ${column.upColumnName} =  "${column.columnName}";
	#end
}

}
