package ${package}.model.${modulename};

import java.io.Serializable;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.util.Date;

import javax.persistence.Table;
import javax.persistence.Id;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Table(name="${tableName}")
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	#if($column.comments.length() > 0 )
	@ApiModelProperty(value="$column.comments")
	#end
	#if($pk && $pk.attrname == $column.attrname)
	@Id
	#end
	private $column.attrType $column.attrname;
#end

}
