package ${package}.${modulename}.mapper;

import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${modulename}.dto.req.${className}Page;
import ${package}.${modulename}.dto.resp.${className}PageResp;
import ${package}.entity.${className};

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper  extends BaseMapper<${className}> {


    /**
     * ${comments}分页列表
     * @param page 分页参数
     * @param params 请求参数
     * @return
     */
    IPage<${className}PageResp> page(Page page,@Param("params") ${className}Page params);

}
