package ${package}.vo.req.${modulename};

import java.io.Serializable;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.util.Date;


#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}分页响应
 * 
 * @author ${author}
 * @date ${datetime}
 */
@ApiModel(value="${package}.vo.resp.${modulename}.${className}PageResp")
@Data
public class ${className}PageResp implements Serializable {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	#if($column.comments.length() > 0 )
	@ApiModelProperty(value="$column.comments")
	#end
	private $column.attrType $column.attrname;
#end

}
