package ${package}.${modulename}.dto.req ;


import com.miniso.common.dto.PageDto;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;


#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}分页列表请求
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ToString(callSuper = true)
@EqualsAndHashCode(callSuper = true)
public class ${className}Page extends PageDto {

	private static final long serialVersionUID = 1L;
	


}
