package ${package}.${modulename}.dto.req;

import java.io.Serializable;
import io.swagger.annotations.ApiModelProperty;
import com.fasterxml.jackson.annotation.JsonIgnore;
import com.miniso.common.dto.BaseDto;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;

import java.util.Date;


#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}分页响应
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ToString(callSuper = true)
public class ${className}PageResp extends BaseDto implements Serializable   {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	#if($column.comments.length() > 0 )
	@ApiModelProperty(value="$column.comments")
	#end
	private $column.attrType $column.attrname;
#end

}
