package ${package}.${modulename}.dto.req;

import java.io.Serializable;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;

import java.util.Date;


#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments} 保存请求
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Accessors(chain = true)
public class ${className}SaveReq implements Serializable {
		private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($pk && $pk.attrname == $column.attrname)
#else
#if($column.comments.length() > 0  )
@ApiModelProperty(value="$column.comments")
#end
private $column.attrType $column.attrname;

#end
#end


}
