package ${package}.service.${modulename};

import java.util.List;
import ${package}.service.BaseService;
import ${package}.model.${modulename}.${className};
import ${package}.vo.req.${modulename}.*;
import ${package}.vo.resp.${modulename}.*;
import com.github.pagehelper.PageInfo;

/**
 * ${comments}服务
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService <${className}> {


    /**
     * ${comments}分页列表
     * @param pageReq 请求参数
     * @return
     */
    PageInfo<${className}PageResp> pageList(${className}PageReq pageReq);

}
