package ${package}.${modulename}.service.impl ;


import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.backend.base.BaseServiceImpl;
import ${package}.${modulename}.dto.req.${className}Page;
import ${package}.${modulename}.dto.resp.${className}PageResp;
import ${package}.${modulename}.mapper.${className}Mapper;
import ${package}.${modulename}.service.${className}Service;
import ${package}.entity.${className};
import lombok.extern.slf4j.Slf4j;
import org.apache.commons.lang3.StringUtils;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Isolation;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;

import static com.miniso.common.enums.CommonEnum.Language.EN;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
@Slf4j
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Mapper , ${className}> implements ${className}Service    {


    @Override
    @Transactional(readOnly = true, isolation = Isolation.REPEATABLE_READ, rollbackFor = Throwable.class)
    public IPage<${className}PageResp> page(${className}Page page) {
        IPage<${className}PageResp> pageInfo = mapper.page(new Page<>(page.getPageNo(), page.getPageSize()), page);
        if (StringUtils.equals(EN.getCode(),page.getLang())  ) {
            pageInfo.getRecords().forEach(data->data.setIsEnglish(Boolean.TRUE));
        }
        return pageInfo;
    }

}