package ${package}.service.impl.${module};


import org.springframework.stereotype.Service;
import ${package}.dao.${module}.${className}DAO;
import ${package}.service.impl.BaseServiceImpl;
import ${package}.service.${module}.${className}Service;
import ${package}.entity.${module}.${className};
import org.springframework.transaction.annotation.Isolation;
import org.springframework.transaction.annotation.Transactional;
import ${package}.common.utils.CglibBeanCopierUtils;
import ${package}.dto.PageInfoResponse;
import ${package}.dto.${module}.${className}PageRequest;
import ${package}.qo.${module}.${className}PageQPO;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import java.util.List;



/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends BaseServiceImpl<${className}DAO, ${className}> implements ${className}Service    {

    @Override
    @Transactional(readOnly = true, isolation = Isolation.REPEATABLE_READ, rollbackFor = Throwable.class)
    public PageInfoResponse queryList(${className}PageRequest pageRequest){
        ${className}PageQPO pageQPO = new ${className}PageQPO();
        CglibBeanCopierUtils.copyProperties(pageRequest,pageQPO);
        PageHelper.startPage(pageRequest.getPageNum(), pageRequest.getPageSize());
        List<${className}> queryList =  mapper.queryList(pageQPO);
        PageInfo<${className}> pageInfo = new PageInfo< >(queryList);
        PageInfoResponse pageResponse = new PageInfoResponse();
        CglibBeanCopierUtils.copyProperties(pageInfo,pageResponse);
        return pageResponse;
    }




}
