package ${package}.service.${module};

import ${package}.dto.PageInfoResponse;
import ${package}.dto.${module}.${className}PageRequest;
import ${package}.entity.${module}.${className};
import ${package}.service.BaseService;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService <${className}> {


	/**
	 * 分页查询
	 * @param pageRequest  分页查询参数
	 * @return PageInfoResponse  分页响应数据
	 */
	PageInfoResponse queryList(${className}PageRequest pageRequest);


}
