package ${package}.service.impl.${modulename};

import lombok.extern.slf4j.Slf4j;
import ${package}.dao.${modulename}.${className}Mapper;
import ${package}.model.${modulename}.${className};
import ${package}.base.BaseServiceImpl;
import ${package}.service.${modulename}.${className}Service;
import ${package}.vo.req.${modulename}.*;
import ${package}.vo.resp.${modulename}.*;
import com.github.pagehelper.PageInfo;
import com.github.pagehelper.PageHelper;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;



/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
@Slf4j
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Mapper , ${className}> implements ${className}Service    {


    @Override
    @Transactional(readOnly = true)
    public PageInfo<${className}PageResp> pageList(${className}PageReq pageReq) {
        PageHelper.startPage(pageReq.getPageNum(),pageReq.getPageSize());
        List<${className}PageResp> list = this.mapper.allList(pageReq);
        return new PageInfo(list);
    }


}